<div class="previews">
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>

  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>

  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>

  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>

  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
    <div class="name">abcdefg</div>
    <div class="size">100k</div>
  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>

  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>
  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>
  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>
  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>
  </div>
  <div class="item">
    <div class="photo"><img src="favicon.ico">
    </div>
      <div class="name">abcdefg</div>
      <div class="size">100k</div>
    </div>
</div>
